#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
                &none   
                //&none   &none   &kp B   &kp SPACE   &kp N   &none   &none   &kp SLASH   &kp DOWN   &none   &kp LEFT   &kp RALT
                //&bt BT_CLR   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &bootloader   &none   
                //&none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   
                //&none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   
                //&none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   
                //&none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   
                //&none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   
                //&none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   
            >;            
        };
    };
};