#include <dt-bindings/zmk/matrix_transform.h>

&pro_micro_i2c { status = "disabled"; };

&nice_nano_spi {
	status = "okay";
	cs-gpios = <&pro_micro 9 GPIO_ACTIVE_LOW>;
	shifter: 595@0 {
		compatible = "zmk,gpio-595";
		status = "okay";
		gpio-controller;
		spi-max-frequency = <200000>;
		reg = <0>;
		label = "4HC595";
		#gpio-cells = <2>;
		ngpios = <8>;
	};
};

/ {
    chosen {
        zmk,kscan = &default_kscan;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "default_kscan";
        diode-direction = "col2row";

        col-gpios
            = <&shifter 7 GPIO_ACTIVE_HIGH>
			, <&shifter 6 GPIO_ACTIVE_HIGH>            
            ;

        row-gpios
            = <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>          
            ;
    };
};