#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define COMMON 1
#define OTHERS 2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp RALT	&kp LEFT      	&none      	&kp RIGHT	&kp DOWN    
&none       	&kp PAUSE_BREAK	&none      	&none      	&none      
&none       	&none         	&none      	&none      	&none      
&kp SLCK    	&none         	&none      	&none      	&none      
&bootloader	&kp END       	&kp PG_DN	&kp F12	&kp F11     
&none       	&kp HOME      	&kp PG_UP       	&kp INS	&kp DEL     
&none       	&none         	&none      	&none      	&none      
&kp LALT    	&kp UP        	&none      	&none      	&none      

            >;          
        };




    };
};